# Игнорировать директорию target (обычно используется для компиляции)
target/

# Игнорировать файлы временных и кэшированных данных IDE
.idea/
.vscode/

# Игнорировать файлы зависимостей и конфигурации Maven
*.iml
*.log
*.class
*.jar
*.war
*.ear
*.swp

# Игнорировать все файлы в скрытых папках (например, для Git)
.DS_Store
Thumbs.db
src/main/resources
